# Git identity for Backbase projects (~/projects/backbase/)
[user]
    email = {{ .work_email }}
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGB2GxI2fLmKDzyRxGFHHLRYaLru9jNfUqfOsJTYC5M3

[url "git@github.com-work:"]
    insteadOf = https://github.com/
    insteadOf = git@github.com:
