# Git identity for personal projects (~/projects/personal/)
[user]
    email = {{ .email }}
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK2jrIb1c6TcIytyJNFnmxCKEB6qoU5KlBvGG/arPz5h

[url "git@github.com-personal:"]
    insteadOf = https://github.com/
    insteadOf = git@github.com:
